# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data Sets

In [3]:
# New data set: order_products_prior

df_ords_prior = pd.read_csv(r'C:\Users\rasmu\Documents\CareerFoundry\A4 Instacart Basket Analysis\02 Data\Orig Data\order_products__prior.csv', index_col = False)

In [5]:
# Check dimensions of new dataframe

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
# Importing df_ords

df_ords = pd.read_csv(r'C:\Users\rasmu\Documents\CareerFoundry\A4 Instacart Basket Analysis\02 Data\Prepd Data\orders_checked.csv', index_col = False)

In [8]:
df_ords.shape

(3421083, 9)

# 03. Merging Data Frames

In [9]:
# Merging df_ords with df_ords_prior on the 'order_id' key

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [11]:
# Checking for full match

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
# Not actually a full match because the text showed that it was due to inner join.

# 04. Exporting Pickles

In [13]:
# Exporting very large datasets as pkl format to help with time it takes, only readable on Python
# Need to create a string path first

path = r'C:\Users\rasmu\Documents\CareerFoundry\A4 Instacart Basket Analysis\02 Data'

In [14]:
path

'C:\\Users\\rasmu\\Documents\\CareerFoundry\\A4 Instacart Basket Analysis\\02 Data'

In [15]:
# Exporting pkl file

df_merged_large.to_pickle(os.path.join(path,'Prepd Data', 'orders_products_combined.pkl'))

# 05. TASK

In [16]:
# Step 1: If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the 
#         instructions in this Exercise, do so now.

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [17]:
df_merged_large

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32640693,3421081,3421081,2977660,206209,13,1,12,7.0,False,38730.0,6.0,0.0,both
32640694,3421081,3421081,2977660,206209,13,1,12,7.0,False,31477.0,7.0,0.0,both
32640695,3421081,3421081,2977660,206209,13,1,12,7.0,False,6567.0,8.0,0.0,both
32640696,3421081,3421081,2977660,206209,13,1,12,7.0,False,22920.0,9.0,0.0,both
32640697,3421082,3421082,272231,206209,14,6,14,30.0,False,NaN,NaN,NaN,left_only

In [18]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [21]:
df_merged_large.shape

(32640698, 13)

In [19]:
# Step 2: Export the merged file in pickle format as “orders_products_combined.pkl”

df_merged_large.to_pickle(os.path.join(path,'Prepd Data', 'orders_products_combined.pkl'))

In [20]:
# Step 3-8 will be in a new notebook titled "4.6 Task Part 2"