# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Step 3: In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
# First, creating a string path

path = r'C:\Users\rasmu\Documents\CareerFoundry\A4 Instacart Basket Analysis\02 Data'

In [3]:
path

'C:\\Users\\rasmu\\Documents\\CareerFoundry\\A4 Instacart Basket Analysis\\02 Data'

In [4]:
# Importing dataframe from Steps 1 & 2

df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Prepd Data', 'orders_products_combined.pkl'))

In [5]:
# Step 4: Check the shape of the imported dataframe

df_orders_products_combined.shape

(32640698, 13)

In [6]:
df_orders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

It is, indeed, the same shape as what was previously exported.

In [9]:
# Step 5: Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 

# Importing df_product
df_product = pd.read_csv(os.path.join(path, 'Prepd Data', 'products_checked.csv'))

In [11]:
df_product.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_product.shape

(49672, 6)

In [13]:
# Need to remove unnecessary column (I tried to do 'index_col = False' when importing df_product, but it gave me an error.)

df_products = df_product.drop(columns = ['Unnamed: 0',])

In [14]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Now noticing that there's columns in df_orders_products_combined that need removal as well

df_orders_products_combined = df_orders_products_combined.drop(columns = ['Unnamed: 0','Unnamed: 0.1', '_merge'])

In [17]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0

In [18]:
df_orders_products_combined.shape

(32640698, 10)

In [20]:
# Merging the data now

orders_products_merged = df_orders_products_combined.merge(df_products, on = ['product_id'], how = 'left',indicator = True)

In [21]:
orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [22]:
# Step 6: Confirm the results of the merge using the merge flag.

orders_products_merged['_merge'].value_counts()

both          32404859
left_only       236409
right_only           0
Name: _merge, dtype: int64

In [23]:
# Step 7: Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)

orders_products_merged.to_pickle(os.path.join(path,'Prepd Data', 'orders_products_merged.pkl'))