# 01. Importing Libraries

In [1]:
# Step 1: Import Libraries & Dataframe from 4.7

import pandas as pd
import numpy as np
import os

# 02. Importing Dataframe

In [2]:
# Create a string path

path = r'C:\Users\rasmu\Documents\CareerFoundry\A4 Instacart Basket Analysis\02 Data'

In [3]:
# Importing Dataframe

ords_prods_merg = pd.read_pickle(os.path.join(path, 'Prepd Data', 'orders_products_merged.pkl'))

# 03. Steps 2-7

In [9]:
# Step 2: In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” 
#         for a subset of your dataframe. Now, repeat this process for the entire dataframe.

# aggregating the mean

ords_prods_merg.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [10]:
# Step 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your 
#         comments in a markdown cell below the executed code.

The results for the department means for the whole dataframe both are higher and lower than the subset. However, it's most noteworthy that most differences are less that +/- 1.0. 

The biggest differences can be found in departments 6, at +1.14, and 8, at -1.14.

Only 1/3 (7) of the means increased when done for the whole dataframe.

In [11]:
# Step 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform()
#         and loc() functions.

# performing transform() function to create 'max_order' column

ords_prods_merg['max_order'] = ords_prods_merg.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
# checking that the function worked

ords_prods_merg.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,Regularly busy,Regularly busy,Average Orders,11
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Regularly busy,Regularly busy,Average Orders,11
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,Regularly busy,Regularly busy,Average Orders,11
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Regularly busy,Regularly busy,Average Orders,11
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Regularly busy,Regularly busy,Average Orders,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,False,9681.0,12.0,0.0,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,both,Regularly busy,Regularly busy,Most Orders,15
96,738281,2,4,2,10,8.0,False,21150.0,13.0,0.0,Fire Grilled Steak Bowl,38.0,1.0,5.9,both,Regularly busy,Regularly busy,Most Orders,15
97,1673511,2,5,3,11,8.0,False,47144.0,1.0,0.0,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,both,Regularly busy,Slowest days,Most Orders,15
98,1673511,2,5,3,11,8.0,False,5322.0,2.0,0.0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,both,Regularly busy,Slowest days,Most Orders,15
99,1673511,2,5,3,11,8.0,False,17224.0,3.0,0.0,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,both,Regularly busy,Slowest days,Most Orders,15

In [18]:
# Creating loyalty flags - Loyal customer flag

ords_prods_merg.loc[ords_prods_merg['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
# Regular Customer flag

ords_prods_merg.loc[(ords_prods_merg['max_order'] <= 40) & (ords_prods_merg['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [21]:
# New Customer flag

ords_prods_merg.loc[ords_prods_merg['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [22]:
# checking that the flag worked

ords_prods_merg['loyalty_flag'].value_counts(dropna = False)

Regular customer    16381472
Loyal customer      10679578
New customer         5580218
Name: loyalty_flag, dtype: int64

In [24]:
# Step 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three 
#         types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product 
#         prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to 
#         determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or 
#         new customers.

# Finding the mean of prices bought for each loyalty flag category

ords_prods_merg.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.377144
New customer      13.208437
Regular customer  12.616225

On average, new customers spend about 3 dollars more per product than loyal customers, and 60 cents more than regular customers.

In [25]:
# Step 6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by 
#         looking at the prices of the items people are buying. Create a spending flag for each user based on the average price 
#         across all their orders using the following criteria:
#   If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#   If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

# Aggregate the mean of price per user_id

ords_prods_merg.groupby('user_id').agg({'prices': ['mean']})

           prices
             mean
user_id
1        6.367797
2        7.515897
3        8.197727
4        8.205556
5        9.189189
...           ...
206205   8.909375
206206   7.646667
206207   7.313453
206208   8.366617
206209   7.058915

[206209 rows x 1 columns]

In [26]:
# performing transform() function

ords_prods_merg['avg_price'] = ords_prods_merg.groupby(['user_id'])['prices'].transform(np.mean)

In [27]:
# Checking that variable column was created correctly

ords_prods_merg.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,77.0,7.0,9.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,...,91.0,16.0,12.5,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,...,23.0,19.0,4.4,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,...,23.0,19.0,4.7,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,...,54.0,17.0,1.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
5,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,77.0,7.0,9.0,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797
6,2398795,1,2,3,7,15.0,False,10258.0,2.0,0.0,...,117.0,19.0,3.0,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797
7,2398795,1,2,3,7,15.0,False,12427.0,3.0,1.0,...,23.0,19.0,4.4,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797
8,2398795,1,2,3,7,15.0,False,13176.0,4.0,0.0,...,24.0,4.0,10.3,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797
9,2398795,1,2,3,7,15.0,False,26088.0,5.0,1.0,...,23.0,19.0,4.7,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797
10,2398795,1,2,3,7,15.0,False,13032.0,6.0,0.0,...,121.0,14.0,4.0,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797
11,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,77.0,7.0,9.0,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797
12,473747,1,3,3,12,21.0,False,12427.0,2.0,1.0,...,23.0,19.0,4.4,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797
13,473747,1,3,3,12,21.0,False,10258.0,3.0,1.0,...,117.0,19.0,3.0,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797
14,473747,1,3,3,12,21.0,False,25133.0,4.0,0.0,...,21.0,16.0,8.6,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797
15,473747,1,3,3,12,21.0,False,30450.0,5.0,0.0,...,88.0,13.0,3.2,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797
16,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,77.0,7.0,9.0,both,Least busy,Slowest days,Average Orders,11,Regular customer,6.367797
17,2254736,1,4,4,7,29.0,False,12427.0,2.0,1.0,...,23.0,19.0,4.4,both,Least busy,Slowest days,Average Orders,11,Regular customer,6.367797
18,2254736,1,4,4,7,29.0,False,10258.0,3.0,1.0,...,117.0,19.0,3.0,both,Least busy,Slowest days,Average Orders,11,Regular customer,6.367797
19,2254736,1,4,4,7,29.0,False,25133.0,4.0,1.0,...,21.0,16.0,8.6,both,Least busy,Slowest days,Average Orders,11,Regular customer,6.367797
20,2254736,1,4,4,7,29.0,False,26405.0,5.0,1.0,...,54.0,17.0,1.0,both,Least busy,Slowest days,Average Orders,11,Regular customer,6.367797
21,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,77.0,7.0,9.0,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
22,431534,1,5,4,15,28.0,False,12427.0,2.0,1.0,...,23.0,19.0,4.4,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
23,431534,1,5,4,15,28.0,False,10258.0,3.0,1.0,...,117.0,19.0,3.0,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
24,431534,1,5,4,15,28.0,False,25133.0,4.0,1.0,...,21.0,16.0,8.6,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
25,431534,1,5,4,15,28.0,False,10326.0,5.0,0.0,...,24.0,4.0,2.7,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
26,431534,1,5,4,15,28.0,False,17122.0,6.0,0.0,...,24.0,4.0,14.0,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
27,431534,1,5,4,15,28.0,False,41787.0,7.0,0.0,...,24.0,4.0,5.0,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
28,431534,1,5,4,15,28.0,False,13176.0,8.0,1.0,...,24.0,4.0,10.3,both,Least busy,Slowest days,Most Orders,11,Regular customer,6.367797
29,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,...,77.0,7.0,9.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
30,3367565,1,6,2,7,19.0,False,12427.0,2.0,1.0,...,23.0,19.0,4.4,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
31,3367565,1,6,2,7,19.0,False,10258.0,3.0,1.0,...,117.0,19.0,3.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
32,3367565,1,6,2,7,19.0,False,25133.0,4.0,1.0,...,21.0,16.0,8.6,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797
33,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,...,77.0,7.0,9.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
34,550135,1,7,1,9,20.0,False,10258.0,2.0,1.0,...,117.0,19.0,3.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
35,550135,1,7,1,9,20.0,False,12427.0,3.0,1.0,...,23.0,19.0,4.4,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
36,550135,1,7,1,9,20.0,False,25133.0,4.0,1.0,...,21.0,16.0,8.6,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
37,550135,1,7,1,9,20.0,False,13032.0,5.0,1.0,...,121.0,14.0,4.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
38,3108588,1,8,1,14,14.0,False,12427.0,1.0,1.0,...,23.0,19.0,4.4,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
39,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,...,77.0,7.0,9.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
40,3108588,1,8,1,14,14.0,False,10258.0,3.0,1.0,...,117.0,19.0,3.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
41,3108588,1,8,1,14,14.0,False,25133.0,4.0,1.0,...,21.0,16.0,8.6,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
42,3108588,1,8,1,14,14.0,False,46149.0,5.0,0.0,...,77.0,7.0,13.4,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
43,3108588,1,8,1,14,14.0,False,49235.0,6.0,0.0,...,53.0,16.0,1.8,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
44,2295261,1,9,1,16,0.0,False,49235.0,1.0,1.0,...,53.0,16.0,1.8,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
45,2295261,1,9,1,16,0.0,False,46149.0,2.0,1.0,...,77.0,7.0,13.4,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
46,2295261,1,9,1,16,0.0,False,25133.0,3.0,1.0,...,21.0,16.0,8.6,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
47,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,...,77.0,7.0,9.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
48,2295261,1,9,1,16,0.0,False,10258.0,5.0,1.0,...,117.0,19.0,3.0,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797
49,2295261,1,9,1,16,0.0,False,12427.0,6.0,1.0,...,23.0,19.0,4.4,both,Regularly busy,Busiest days,Most Orders,11,Regular customer,6.367797

In [28]:
# Creating spending flags

ords_prods_merg.loc[ords_prods_merg['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [29]:
ords_prods_merg.loc[ords_prods_merg['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [30]:
# Checking the flag worked

ords_prods_merg['spending_flag'].value_counts(dropna = False)

Low spender     32001268
High spender      640000
Name: spending_flag, dtype: int64

In [31]:
ords_prods_merg.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,7.0,9.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,...,16.0,12.5,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,...,19.0,4.4,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,...,19.0,4.7,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,...,17.0,1.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender
5,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,7.0,9.0,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797,Low spender
6,2398795,1,2,3,7,15.0,False,10258.0,2.0,0.0,...,19.0,3.0,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797,Low spender
7,2398795,1,2,3,7,15.0,False,12427.0,3.0,1.0,...,19.0,4.4,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797,Low spender
8,2398795,1,2,3,7,15.0,False,13176.0,4.0,0.0,...,4.0,10.3,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797,Low spender
9,2398795,1,2,3,7,15.0,False,26088.0,5.0,1.0,...,19.0,4.7,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797,Low spender
10,2398795,1,2,3,7,15.0,False,13032.0,6.0,0.0,...,14.0,4.0,both,Regularly busy,Slowest days,Average Orders,11,Regular customer,6.367797,Low spender
11,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,7.0,9.0,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797,Low spender
12,473747,1,3,3,12,21.0,False,12427.0,2.0,1.0,...,19.0,4.4,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797,Low spender
13,473747,1,3,3,12,21.0,False,10258.0,3.0,1.0,...,19.0,3.0,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797,Low spender
14,473747,1,3,3,12,21.0,False,25133.0,4.0,0.0,...,16.0,8.6,both,Regularly busy,Slowest days,Most Orders,11,Regular customer,6.367797,Low spender

In [32]:
# Step 7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the 
#         same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order 
#         frequency flag that marks the regularity of a user’s ordering behavior according to the median in the 
#         “days_since_prior_order” column. The criteria for the flag should be as follows:
#    If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#    If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#    If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

# Aggregate the median of days_since_prior_order per user_id

ords_prods_merg.groupby('user_id').agg({'days_since_prior_order': ['median']})

        days_since_prior_order
                        median
user_id
1                         20.0
2                         13.0
3                         11.0
4                         21.0
5                         11.0
...                        ...
206205                    20.0
206206                     3.0
206207                    15.0
206208                     7.0
206209                    22.0

[206209 rows x 1 columns]

In [33]:
# performing transform() function

ords_prods_merg['order_frequency'] = ords_prods_merg.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [35]:
# Checking that variable column was created correctly

ords_prods_merg.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,order_frequency
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,9.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,...,12.5,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,...,4.4,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,...,4.7,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,...,1.0,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,False,9681.0,12.0,0.0,...,2.0,both,Regularly busy,Regularly busy,Most Orders,15,Regular customer,7.515897,Low spender,13.0
96,738281,2,4,2,10,8.0,False,21150.0,13.0,0.0,...,5.9,both,Regularly busy,Regularly busy,Most Orders,15,Regular customer,7.515897,Low spender,13.0
97,1673511,2,5,3,11,8.0,False,47144.0,1.0,0.0,...,14.0,both,Regularly busy,Slowest days,Most Orders,15,Regular customer,7.515897,Low spender,13.0
98,1673511,2,5,3,11,8.0,False,5322.0,2.0,0.0,...,2.9,both,Regularly busy,Slowest days,Most Orders,15,Regular customer,7.515897,Low spender,13.0
99,1673511,2,5,3,11,8.0,False,17224.0,3.0,0.0,...,1.6,both,Regularly busy,Slowest days,Most Orders,15,Regular customer,7.515897,Low spender,13.0

In [36]:
# Creating order frequency flags

ords_prods_merg.loc[ords_prods_merg['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [37]:
ords_prods_merg.loc[(ords_prods_merg['order_frequency'] <= 20) & (ords_prods_merg['order_frequency'] > 10), 'frequency_flag'] = 'Regular customer'

In [38]:
ords_prods_merg.loc[ords_prods_merg['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [39]:
# Checking the flag worked

ords_prods_merg['frequency_flag'].value_counts(dropna = False)

Frequent customer        21639188
Regular customer          7287469
Non-frequent customer     3714611
Name: frequency_flag, dtype: int64

In [40]:
ords_prods_merg.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,order_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,...,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,...,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,...,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,...,both,Regularly busy,Regularly busy,Average Orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,False,9681.0,12.0,0.0,...,both,Regularly busy,Regularly busy,Most Orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
96,738281,2,4,2,10,8.0,False,21150.0,13.0,0.0,...,both,Regularly busy,Regularly busy,Most Orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
97,1673511,2,5,3,11,8.0,False,47144.0,1.0,0.0,...,both,Regularly busy,Slowest days,Most Orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
98,1673511,2,5,3,11,8.0,False,5322.0,2.0,0.0,...,both,Regularly busy,Slowest days,Most Orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
99,1673511,2,5,3,11,8.0,False,17224.0,3.0,0.0,...,both,Regularly busy,Slowest days,Most Orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer

# 04. Exporting Dataframe

In [41]:
# Step 9: Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

ords_prods_merg.to_pickle(os.path.join(path,'Prepd Data', 'ords_prods_merge.pkl'))